$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6; 
$icon-font-size: 30px;

body{
    background: $bg-color;
    color: $font-color;
}
.navbar{
    border-bottom: 3px solid $primary-color;
    background: #292b26;
    opacity: 0.7;
}

#home-section{
    background: url(../img/home3.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;

    .dark-overlay{
        background: rgba(0,0,0,0.5);
        min-height: 700px;
    }
    .fa{
        background: #fff;
        color: $primary-color;
        padding: 4px;
        font-size: $icon-font-size;
        border-radius: 5px;

    }
    .bg{
        background: $primary-color;
        text-align: center;
        opacity: .9;
    }
    .home-inner{
    padding: 100px;
    padding-bottom: 50px;
    }
}
#explore-head-section .fa{
    font-size: $icon-font-size;
    background: $bg-color;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
}
#create-head-section .fa{
    font-size: $icon-font-size;
    background: #fff;
    color: #333;
    padding: 4px;
    border-radius: 5px;
}
#share-head-section .fa{
    font-size: $icon-font-size;
    background: $bg-color;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
}



@media(max-width: 768px){
    #home-section h1{

        font-size: 35px;
    }
}
